@import "../../commons/colors.scss";
.isEdit {
  pointer-events: none;
}

#validationError {
  color: $error;
  font-size: 0.65rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.81rem;
}

.input {
  margin-bottom: 1rem;
}
