@font-face {
  font-family: "itcavat";
  src: url("../../commons/fonts/itcavat.ttf");
}
@font-face {
  font-family: "itc";
  src: url("../../commons/fonts/itc.ttf");
}
@font-face {
  font-family: "brody";
  src: url("../../commons/fonts/B.ttf");
}
